@model System.Collections.Generic.List<AspPlanApp.Models.DbModels.User>

@{
    ViewBag.Title = "Manage Users";
    Layout = "_Layout";
}

<div class="container-fluid top-conteiner">
    <table class="table">
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Action</th
        ></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditClient" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>


