@using AspPlanApp.Models.DbModels
@{
    ViewData["Title"] = "Home Page";
}

<section class="planapp-welcome-area bg-img bg-overlay">
    <div class="container h-100">
        <div class="welcome-div row h-100 justify-content-center">
            <div class="col-12 col-md-10">
                <div class="hero-content">
                    <h2 class="font-color-grey">Plan your time easy</h2>
                    <h4>This is the best way to reservation of time for a visit</h4>
                </div>
                <!-- Hero Search Form -->
                <div class="hero-search-form">
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                            <h6>What time are you planning reservation?</h6>
                            <form action="#" method="get">
                                <div class="row" style="width: 100%">
                                    <div class="col-sm-12 col-md-3 field" >
                                        <select class="form-control">
                                            <option selected>All Catagories</option>
                                            @foreach (Category cat in ViewBag.Categories)
                                            {
                                                <option value="@cat.catId">@cat.catName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 field" >
                                        @await Html.PartialAsync("_OrgSearchPartial", new ViewDataDictionary(ViewData)
                                        {
                                            {"inputClass", "form-control"}
                                        })
                                    </div>
                                    <div class="col-sm-12 col-md-3 field" >
                                        <input id="date"
                                               class="form-control"
                                               name="date"
                                               placeholder="MM/DD/YYYY"
                                               autocomplete="off"
                                               type="text">
                                    </div>
                                    <div class="col-sm-12 col-md-2 field" >
                                        <button type="submit" class="btn default-btn form-control">
                                            <i class="fa fa-search pr-2"
                                               aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="planapp-catagory-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="catagory-content">
                                    @* <img src="images/core-img/icon-1.png" alt=""> *@
                                    <i class="fas fa-hotel fa-5x fas-white"></i>
                                    <a href="#">
                                        <h6>Hotel</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                <div class="catagory-content">
                                    @* <img src="images/core-img/icon-2.png" alt=""> *@
                                    <i class="fas fa-utensils fa-5x fas-white"></i>
                                    <a href="#">
                                        <h6>Restaurant</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                <div class="catagory-content">
                                    @* <img src="images/core-img/icon-3.png" alt=""> *@
                                    <i class="fas fa-car-alt fa-5x fas-white"></i>
                                    <a href="#">
                                        <h6>Service Station</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                <div class="catagory-content">
                                    @* <img src="images/core-img/icon-4.png" alt=""> *@
                                    <i class="fas fa-cut fa-5x fas-white"></i>
                                    <a href="#">
                                        <h6>Beauty &amp; Spa</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                <div class="catagory-content">
                                    @* <img src="images/core-img/icon-5.png" alt=""> *@
                                    <i class="fas fa-hospital fa-5x fas-white"></i>
                                    <a href="#">
                                        <h6>Hospital</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="planapp-about-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content text-center">
                    <h2>Plan your time <br><span>PlanApp</span></h2>
                    <p>
                           
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {

    <script src="js/searchCompany.js"></script>
}