@using Microsoft.AspNetCore.Identity
@using AspPlanApp.Models


@*@if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userParams" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User) <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="userParams">
                <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index">UserManage</a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item">Log Out</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    }*@

<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
</li>
