
<input id="js-orgId" type="hidden" name="OrgId" />
<input id="js-live-search" type="text" 
       name="OrgName" class="@ViewBag.inputClass"
       placeholder="Type to start searching ..."
       autocomplete="off" />
<div id="js-display" style="position: absolute;">
    <ul id="js-found-org" class="dropdown-menu" style="position: relative;">
                            
    </ul>
</div> 
